@use "../../styles/_variables" as *;
@use "../../styles/_mixins" as *;
.dashboard {
    background-color: $background-gray;
    padding: 2rem 10%;
    display: flex;
    gap: 2rem;
    position: relative;
    min-height: 100vh;
    &__col1 {
        width: 20%;
    }
    &__col2 {
        width: 45%;
    }
    &__col3 {
        width: 30%;
    }
    &__nopost {
        @include nopost;
    }
}