@use "../../styles/_variables" as *;
@use "../../styles/_mixins" as *;

.dashboard__col {
   // width: 80%;
    @include dashboard-section;
    padding: 1.5rem 2rem;
    max-width: 70%;
}
.network {
    &__container{
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
        flex-wrap: wrap;
    }
    &__title {
        margin-bottom: 1.5rem;
        font-size: 1rem;
        font-weight: 600;
    }
    &__noconnection {
        color: $text-gray;
        font-size: 0.9rem;
    }
}
