@use "../../styles/_variables" as *;
@use "../../styles/_mixins" as *;

.courseAnalysis {
    @include dashboard-section;
    padding: 1rem;
    &__btn {
        @include gray-btn;
        padding: 0.4rem 1rem;
        margin-top: 1.2rem;
    }
    &__title {
        font-weight: 500;
        font-size: 1.1rem;

    }
    &__item {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        border: solid 1.5px $border-gray;
        margin-top: 1.5rem;
        border-radius: 5px;
        align-items: center;

    }
    &__topic {
        color: #545557;
        font-size: 0.8rem;
        line-height: 1rem;
    }
    &__item2 {
        display: flex;
        padding: 1rem;
        flex-direction: column;
        border: solid 1.5px $border-gray;
        margin-top: 1.5rem;
        border-radius: 5px; 
    }
    &__left {
        width: 60%;
    }
    &__right2 {
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
        margin-top: 1rem;
    }
    &__title2 {
        color: $dark-orange;
        font-weight: 600;
        letter-spacing: 0.05rem;
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
        
    }
    &__text {
        font-size: 0.9rem;
        color: #545557;
        line-height: 1.5rem;
    }
    &__comment__content {
        font-size: 0.9rem;
        margin-bottom: 0.4rem;
    }
    &__current__title {
        font-size: 1rem;
        color: black;
        padding-bottom: 0.25rem;
        // border-bottom: solid 1px #EAEAEA;
        margin-top: 1rem;
    }
    &__student {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.7rem 0;
        border-bottom: solid 1px #EAEAEA;
    }
    &__name {
        font-size: 0.9rem;
    }
    &__info{
        font-size: 0.8rem;
        color: $text-gray;
    }
    &__connect-btn {
        background-color: $orange;
        font-weight: 600;
        color: white;
        font-size: 0.8rem;
        border-radius: 20px;
        padding: 0.3rem 1rem;
        border: none;
        &:hover {
            background-color: $dark-orange;
            transition: all 0.3s;
        }
    }
    &__avatar {
        width: 38px;
        height: 38px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 0.5rem;
    }
    &__col--wrapper {
        display: flex;
        justify-content: start;
        gap: 0.2rem;
        align-items: center;
    }
    &__header {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }
    &__headerIcon {
        width: 13px;
        &:hover {
            transform: scale(1.2);
            transition: all 0.2s;
        }
    }
    
}
.mt-1 {
    margin-top: 1rem;
}

/* Half Circular Progress Bar */
.CircularProgressbar {
    position: relative;
    width: 200px;
    height: 100px;
    overflow: hidden;
}

.CircularProgressbar .CircularProgressbar-path {
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s;
}

.CircularProgressbar .CircularProgressbar-trail {
    stroke: #f3f3f3;
}
.CircularProgressbar-text {
    fill: #1565FF;
    font-size: 22px;
}

// .CircularProgressbar .CircularProgressbar-text {
//     fill: #1565FF;
//     font-size: 20px;
//     dominant-baseline: middle;
//     text-anchor: middle;
// }