@use "../../styles/_variables" as *;
@use "../../styles/_mixins" as *;
.setUp {
    @include dashboard-section;
    padding: 1.5rem;
    &__title {
        color: #1565FF;
        font-size: 1.2rem;
        font-weight: 700;
        margin: 0.5rem 0 1rem 0;
    }
    &__form {
        margin-bottom: 1rem;
        &__label{
            font-size: 0.8rem;
            font-weight: 600;
        }
        &__input{
            width: 100%;
            border: solid 1px $border-gray;
            border-radius: 3px;
            padding: 0.2rem 0.7rem;
            margin-top: 0.3rem;
        }
        &__text{
            margin: 1rem 0;
            color: $text-gray;
            font-size: 0.7rem;
            background-color: $medium-gray;
            width: fit-content;
            padding: 0.15rem 0.7rem;
            border-radius: 10px;
        }
        &__select {
            border: solid 1px $border-gray;
            border-radius: 0.2rem;
            padding: 0.2rem 0.5rem;
        }
        &__wrapper {
            display: flex;
            gap: 0.5rem;
            margin-top: 1rem;
        }
    }
    &__list__wrapper {
        margin: 1.5rem 0 2rem 0;
    }
    &__btn {
        background-color: transparent;
        border: none;
    }
    &__icon {
        width: 13px;
    }
    &__university {
        display: flex;
        gap: 0.7rem;
        align-items: baseline;
        border: solid 1px $border-gray;
        border-radius: 15px;
        font-size: 0.8rem;
        padding: 0.2rem 0.7rem;
        width: fit-content;
        color: $dark_gray;
        margin-bottom: 0.8rem;
        cursor: pointer;
        &:hover {
            border: solid 1.5px #1565FF;
            color: #1565FF;
            transition: all 0.3s;
        }
    }
    &__university--selected {
        display: flex;
        gap: 0.7rem;
        align-items: baseline;
        border: solid 1.5px #1565FF;
        border-radius: 15px;
        font-size: 0.8rem;
        padding: 0.2rem 0.7rem;
        width: fit-content;
        color: $dark_gray;
        margin-bottom: 0.8rem;
        cursor: pointer;
        color: #1565FF;
    }
    &__btn-wrapper {
        width: 100%;
        justify-content: end;
        display: flex;
    }
    &__next-btn{
        background-color: #1565FF;
        color: white;
        padding: 0.3rem 1.5rem;
        border: none;
        border-radius: 0.1rem;
        &:hover {
            background-color: $dark_gray;
            transition: all 0.2s;
        }
    }
}