@use "../../styles/_variables" as *;
@use "../../styles/_mixins" as *;

.uploadPost {
    padding: 0.8rem;
    @include dashboard-section;
    margin-bottom: 1rem;
    &__row {
        display: flex;
        gap: 0.5rem;
    }
    &__profile {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
    &__input {
        width: 100%;
        border: solid 1px $border-gray;
        border-radius: 30px;
        padding:0.4rem 1rem;
    }
    &__btn {
        @include gray-btn;
        padding: 0.4rem 0;
        width: 25%;
    }
    &__row2 {
        margin-top: 0.7rem;
    }
}