@use "../../styles/_variables" as *;
@use "../../styles/_mixins" as *;

.progress {
    @include dashboard-section;
    text-align: center;
    padding: 0.7rem;
    &__title {
        color: #1565FF;
        text-align: center;
        font-weight: 600;
    }
    &__progress-bar {
        margin: 1rem 0;
    }
    &__text {
        color: #1565FF;
        font-size: 0.9rem;
    }
}